.before {
  position: relative;
}

.before ::before {
  content: '';
  display: block;
  width: 0.3%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 6%;
  background-color: hsl(211, 10%, 75%);
}
